// cores
	$escuro: #333132;
	$blue: #0A8DE8;
	$dark-blue: rgb(0, 104, 176);
	$purple: rgb(107, 56, 141);
	$dark-purple: rgb(65, 51, 101);
// fontes
$font-default: 'Ubuntu', sans-serif;
$font-second:  'Lato', sans-serif;